# Tarea 1 Bases de Datos 2023-1 Grupo 46

## Integrantes:
* Vicente Toledo Gallardo - 201921001-7
* Samuel Ortiz Velasquez - 201921013-0

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [2]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /home/vicente/.local/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/vicente/.local/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /home/vicente/.local/lib/python3.10/site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlparse in /home/vicente/.local/lib/python3.10/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: sqlalchemy>=2.0 in /home/vicente/.local/lib/python3.10/site-packages (from ipython-sql) (2.0.9)
Requirement already satisfied: ipython in /home/vicente/.local/lib/python3.10/site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/vicente/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/vicente/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: pickleshare in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: stack-data in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: decorator in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pygments>=2.4.0 in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: backcall in /home/vicente/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /home/vicente/.local/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/vicente/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in /home/vicente/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /home/vicente/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /home/vicente/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in /usr/lib/python3/dist-packages (2.9.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: names in /home/vicente/.local/lib/python3.10/site-packages (0.3.0)

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [2]:
%reload_ext sql
%env DATABASE_URL=postgresql://vicente:cinerat3@localhost:5432/tarea1

env: DATABASE_URL=postgresql://vicente:cinerat3@localhost:5432/tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="vicente",
   dbname='tarea1',
   password="cinerat3"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x7fb9ca348040; dsn: 'user=vicente password=xxx dbname=tarea1 host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [6]:
%%sql
CREATE TABLE facciones (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL
);

 * postgresql://vicente:***@localhost:5432/tarea1
Done.

[]

### Tabla "trabajos" (6 pts)

In [7]:
%%sql
CREATE TABLE trabajos(
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INT NOT NULL
);

 * postgresql://vicente:***@localhost:5432/tarea1
Done.

[]

### Tabla "personas" (6 pts)

In [9]:
%%sql
CREATE TABLE personas(
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOL NOT NULL,
    conyugue INT REFERENCES personas(id)
);

 * postgresql://vicente:***@localhost:5432/tarea1
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [10]:
%%sql
CREATE TABLE cuentas_bancarias (
    id SERIAL PRIMARY KEY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT  NULL,
    saldo INT NOT NULL,
    id_persona INT NOT NULL REFERENCES personas(id)
);

 * postgresql://vicente:***@localhost:5432/tarea1
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [13]:
%%sql
CREATE TABLE persona_pertenece_faccion (
    id_persona INT REFERENCES personas(id),
    id_faccion INT REFERENCES facciones(id),
    PRIMARY KEY (id_persona, id_faccion)    
);

 * postgresql://vicente:***@localhost:5432/tarea1
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [14]:
%%sql
CREATE TABLE persona_tiene_trabajo (
    id_persona INT NOT NULL REFERENCES personas(id),
    id_trabajo INT NOT NULL REFERENCES trabajos(id),
    PRIMARY KEY (id_persona, id_trabajo),
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL
);

 * postgresql://vicente:***@localhost:5432/tarea1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [15]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** Nuestra solución consiste en crear una tabla que tiene las columnas "id" y los "nombres" con sus respectivos "apellidos", estos datos se extraen de la tabla "personas". Posteriormente a la tabla de personas se le une con la tabla persona_pertenece_faccion cuya condición de unión es que la id de los elementos deba aparecer tanto en la tabla de personas como en la de persona_pertenece_faccion con id de faccion 1 (en este caso se refiere a FEDRA).

In [90]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT id AS "ID",nombre AS "Nombre",apellidos AS "Apellido"
FROM personas
JOIN persona_pertenece_faccion
ON id = persona_pertenece_faccion.id_persona

WHERE persona_pertenece_faccion.id_faccion = 1

 * postgresql://vicente:***@localhost:5432/tarea1
42 rows affected.

[(3, 'Audrey', 'Ambrose Reyes'),
 (4, 'Constance', 'Williams Clemons'),
 (12, 'Danielle', 'Anglin Radin'),
 (38, 'Brandon', 'Wallace Pleasant'),
 (44, 'Charlotte', 'Barber Mcquistion'),
 (93, 'James', 'Johnson Todd'),
 (94, 'Cynthia', 'Began Bates'),
 (106, 'Denise', 'Vaughn Schmidt'),
 (151, 'Alexis', 'Jones Garcia'),
 (177, 'Gia', 'Curtice Bellinghausen'),
 (186, 'Ronald', 'Reulet Oman'),
 (192, 'Mary', 'Castillo Ramos'),
 (240, 'Alfonso', 'Faunce Pearse'),
 (157, 'Shannon', 'Jones Davidson'),
 (288, 'Frederick', 'Gonzales Tanner'),
 (290, 'Arthur', 'Borner Mortensen'),
 (333, 'David', 'Darrigo Wells'),
 (337, 'Elmer', 'Abbott Nelson'),
 (366, 'Priscilla', 'Mikowski Gaitan'),
 (373, 'Timothy', 'Stade Carrillo'),
 (393, 'Rebecca', 'Bronson Wendler'),
 (400, 'Kelly', 'Huskins Cannady'),
 (403, 'Tawanna', 'Robertson Bolen'),
 (459, 'John', 'Hawkins Fairley'),
 (480, 'Betty', 'Parsons Reinke'),
 (495, 'Sharon', 'Cooper Milburn'),
 (610, 'Robert', 'Davanzo Akers'),
 (585, 'Douglass', 'Boydston Harris'),
 (633, 'Frank', 'Lockwood Miranda'),
 (678, 'Jeffery', 'Boughton Lattus'),
 (703, 'Margaret', 'Psuik Ekmark'),
 (726, 'Daniel', 'Curtis Strickland'),
 (664, 'Gregory', 'Miles Brosius'),
 (752, 'Sarah', 'Stratton Ford'),
 (807, 'Mario', 'Napoli Alford'),
 (790, 'Britney', 'Young Vidal'),
 (823, 'Angelo', 'Roane Fernandez'),
 (868, 'William', 'Hull Cashion'),
 (804, 'Teresita', 'Yong Avila'),
 (918, 'Cynthia', 'Kimbrough Hawkins'),
 (937, 'Mike', 'Bohnen Orahood'),
 (977, 'Frances', 'Viveiros Aquino')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** En este caso nuestra solución es contar de la tabla de personas a aquellas cuya fecha de nacimiento fuera posterior al 1 de diciembre del 2019. Este resultado se mostrará con el nombre "Cantidad".

In [25]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT count(*) AS "Cantidad"  
FROM personas
WHERE fecha_nacimiento > DATE '2019-12-01'

 * postgresql://vicente:***@localhost:5432/tarea1
1 rows affected.

[(46,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** Para este, se selecciona mostrar la ID, nombre y apellido de la tabla personas y saldo de la tabla de cuentas_bancarias. A la tabla de personas se le une el dato de su saldo que aparece en la tabla de cuentas_bancarias para su id. Finalmente se muestran los primeros 20 elementos que cumplan con los criterios.

In [27]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT personas.id AS "ID", personas.nombre AS "Nombre",personas.apellidos AS "Apellido",
cuentas_bancarias.saldo AS "Dinero"
FROM personas
JOIN cuentas_bancarias
ON personas.id = cuentas_bancarias.id
LIMIT 20

 * postgresql://vicente:***@localhost:5432/tarea1
20 rows affected.

[(1, 'Kermit', 'Bourgoin Simpson', 3910),
 (2, 'Gwendolyn', 'Moore Benton', 4246),
 (3, 'Audrey', 'Ambrose Reyes', 7783),
 (4, 'Constance', 'Williams Clemons', 8244),
 (5, 'Reva', 'Whitehead Andrews', 5169),
 (6, 'Lester', 'Crockett Bosley', 3231),
 (7, 'Vicki', 'Williams Vanburen', 2629),
 (8, 'Earline', 'Rodriquez Green', 7792),
 (9, 'Thomas', 'Hall Martin', 8084),
 (10, 'Emma', 'Castillo Baker', 6453),
 (11, 'Darrell', 'Gracey Guerrero', 7540),
 (12, 'Danielle', 'Anglin Radin', 4636),
 (13, 'Sibyl', 'Kelley Gales', 7591),
 (14, 'Greg', 'Sutton Brown', 3029),
 (15, 'Sandra', 'Straugter Pardo', 5110),
 (16, 'George', 'Colangelo Emerson', 9140),
 (17, 'Archie', 'Faulk Cochran', 2082),
 (18, 'Dianne', 'Pena Hunter', 6392),
 (19, 'Trena', 'Perkins Newman', 5028),
 (20, 'Charles', 'Mehta Gudino', 6594)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** Aquí se seleccionan los nombres de la tabla de facciones (se muestra con el nombre "Facción") y por otro lado un contador (se muetra con el nombre "Cantidad de trabajadores"). Luego se realiza una consulta a la tabla de facciones donde se unirán los elementos que compartan id_faccion de la tabla persona_pertenece_faccion con la id de la tabla de facciones. A esto se le realiza una operación de unión con la tabla de personas usando la id de las personas como clave de unión. Luego a esta información se le realiza una unión con la tabla de persona_tiene_trabajo, tal que la id de las personas previamente seleccionadas aparezca también en la tabla de persona_tiene_trabajo con la condición que la última fecha de trabajo debe ser menor que X (una fecha arbitraria). Finalmente estos resultados se agruparán por la columna nombre de la tabla de facciones, por lo que la cantidad de trabajadores se calculará para cada faccion en lugar de para todas las personas.

In [87]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT facciones.nombre AS "Facción", COUNT(*) AS "Cantidad de trabajadores"
FROM facciones

JOIN persona_pertenece_faccion
ON facciones.id = persona_pertenece_faccion.id_faccion

JOIN personas
ON persona_pertenece_faccion.id_persona = personas.id

JOIN persona_tiene_trabajo
ON personas.id = persona_tiene_trabajo.id_persona

WHERE persona_tiene_trabajo.estado = true 
AND persona_tiene_trabajo.ultima_vez_realizado <= '2023-04-20'

GROUP BY facciones.nombre
ORDER BY COUNT(*) DESC

 * postgresql://vicente:***@localhost:5432/tarea1
6 rows affected.

[('FEDRA', 9),
 ('Carroñeros', 9),
 ('Pythonia', 6),
 ('JavaScriptia', 4),
 ('Luciérnagas', 4),
 ('MaCdonia', 1)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** En este ítem de forma similar al anterior se selecciona mostrar los nombres de las facciones y un contador, en este caso de "Personas infectadas". Para ello se unen las tablas de facciones con la tabla persona_pertenece_faccion, para la misma id de facción, tal que se obtenga la id de las personas de aquella facción, luego esta información se usa para buscar en la tabla de personas a aquellas que aparezcan como infectadas, estas se cuentan y son mostradas para cada nombre en la tabla de facciones.

In [39]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT facciones.nombre AS "Faccion", COUNT(*) AS "Personas infectadas"
FROM facciones

JOIN persona_pertenece_faccion
ON facciones.id = persona_pertenece_faccion.id_faccion

JOIN personas
ON personas.id = persona_pertenece_faccion.id_persona

WHERE personas.infectado = true
GROUP BY facciones.nombre

 * postgresql://vicente:***@localhost:5432/tarea1
6 rows affected.

[('JavaScriptia', 29),
 ('Luciérnagas', 22),
 ('Pythonia', 25),
 ('MaCdonia', 25),
 ('FEDRA', 23),
 ('Carroñeros', 26)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** La solución implementada para este ítem es seleccionar las columnas nombre_faccion y trabajo que aparecerán como "Facción" y "Trabajo" respectivamente. A continuación se abre una subconsulta. En esta subconsulta se seleccionan 4 columnas: faccion.nombre, trabajos.nombre (las cuales son renombradas con los nombres de entrada que fueron dados para la selección de arriba), un contador que obtendrá la cantidad de trabajadores que tienen ese trabajo en esa facción y el numero de fila que tiene el trabajo más común de esa facción. Luego a la tabla de facciones (con su nuevo alias "f") se une con la tabla persona_pertenece_faccion tal que se obtengan la id de las personas que pertenezcan a cada facción, luego se usa esta información para unir las tablas de personas con la de persona_tiene_trabajo para obtener la cantidad de personas que están en cada trabajo. Con esta información en los contadores es posible crear una tabla ordenada por los trabajos con más apariciones (en orden descendente), de la cual se obtiene el valor con el numero de fila 1, en este caso el trabajo más realizado. Esto es revisado para cada facción y ordenado en una tabla.

In [82]:
%%sql

SELECT nombre_faccion AS "Facción",trabajo AS "Trabajo"
FROM(
    SELECT f.nombre AS nombre_faccion, t.nombre AS trabajo,
        COUNT(*) AS cantidad,ROW_NUMBER() OVER (PARTITION BY f.id ORDER BY COUNT(*) DESC) AS numero_fila
    FROM facciones f

    JOIN persona_pertenece_faccion ppf
    ON f.id = ppf.id_faccion
    
    JOIN persona_tiene_trabajo ptt
    ON ppf.id_persona = ptt.id_persona

    JOIN trabajos t
    ON ptt.id_trabajo = t.id
    
    WHERE ptt.estado = true
    
    GROUP BY f.id, t.id
) AS orden
WHERE numero_fila = 1

 * postgresql://vicente:***@localhost:5432/tarea1
6 rows affected.

[('FEDRA', 'Limpieza'),
 ('Luciérnagas', 'Limpiador de cloacas'),
 ('Carroñeros', 'Médico'),
 ('Pythonia', 'Cremador'),
 ('MaCdonia', 'Cajero'),
 ('JavaScriptia', 'Cerrajero')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** En este caso se seleccionan el nombre de la facción y la suma del saldo de las ceuntas bancarias. Se unen las tablas facciones con persona_pertenece_faccion (al igual que los problemas anteriores), aqui se accede a los saldos de cada persona de cada facción, se suman y se muestran según se agrupan por nombre de las facciones.

In [59]:
%%sql

SELECT f.nombre AS "Facción",SUM(cb.saldo) AS Saldo
FROM facciones f

JOIN persona_pertenece_faccion ppf
ON f.id = ppf.id_faccion

JOIN personas p
ON ppf.id_persona = p.id

JOIN cuentas_bancarias cb
ON p.id = cb.id_persona

GROUP BY f.id

 * postgresql://vicente:***@localhost:5432/tarea1
6 rows affected.

[('Pythonia', 48467),
 ('JavaScriptia', 27426),
 ('Carroñeros', 34256),
 ('FEDRA', 8263),
 ('MaCdonia', 22149),
 ('Luciérnagas', 21392)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** Para este codigo se selecciona que se devuelvan las columnas cuantas_bancarias.banco, un contador de cuentas por cada banco y una sumatoria de saldos de cada banco. Se unen las tablas cuentas_bancarias con la de personas a traves de id_persona. Finalmente se agrupan los resultados por cada banco en cuentas_bancarias.

In [86]:
%%sql
SELECT cb.banco AS "Banco",COUNT(*) AS "Cantidad", SUM(cb.saldo) AS "Saldo"

FROM cuentas_bancarias cb

JOIN personas p
ON p.id=cb.id_persona

GROUP BY cb.banco
ORDER BY COUNT(*) DESC

 * postgresql://vicente:***@localhost:5432/tarea1
10 rows affected.

[('Banco BCI SpA', 18, 77348),
 ('Banco de la Nación S.A', 17, 90125),
 ('Banco Scotiabank', 14, 76452),
 ('Banco Pedrito Pascal SpA', 13, 58958),
 ('Banco Consorcio S.A', 12, 49305),
 ('FedraBank S.A', 11, 60342),
 ('Banco Santander SpA', 11, 51638),
 ('Banco BBVA', 9, 34713),
 ('Banco Pythonia S.A', 8, 44361),
 ('Banco Estado SpA', 7, 35129)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** Primero se puede crear una tabla auxiliar en la que se conecten las tablas facciones, persona_pertenece_faccion, personas y cuentas_bancarias y luego agrupar a todos los que compartan el mismo banco y facción, luego pueden ser ordenados por facción y en orden decreciente según la cantidad de personas y se puede indicar el número de la fila por facción, con esto todas la filas con el número 1 serán las que tienen mayor cantidad de personas, luego de esta tabla auxiliar podemos sacar otra tabla en donde solo esten los datos que cumplan esta condición.

In [74]:
%%sql
SELECT nombre_faccion AS "Facción",banco AS "Banco"
FROM(
    SELECT f.nombre AS nombre_faccion, cb.banco ,
        COUNT(*) AS cantidad,ROW_NUMBER() OVER (PARTITION BY f.id ORDER BY COUNT(*) DESC) AS numero_fila
    FROM facciones f

    JOIN persona_pertenece_faccion fpf
    ON f.id = fpf.id_faccion

    JOIN personas p
    ON fpf.id_persona = p.id

    JOIN cuentas_bancarias cb
    ON p.id=cb.id_persona


    GROUP BY cb.banco,f.id
) AS orden
WHERE numero_fila = 1

 * postgresql://vicente:***@localhost:5432/tarea1
6 rows affected.

[('FEDRA', 'FedraBank S.A'),
 ('Luciérnagas', 'Banco de la Nación S.A'),
 ('Carroñeros', 'Banco Scotiabank'),
 ('Pythonia', 'Banco Consorcio S.A'),
 ('MaCdonia', 'Banco Santander SpA'),
 ('JavaScriptia', 'Banco Pedrito Pascal SpA')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** Para encontrar las personas que pertenecen a más de una facción primero se puede crear una tabla auxiliar donde se indique el número de filas de la tabla persona_pertenece_faccion que compartan la misma id de persona, luego de esta tabla se pueden extraer solo las personas que pertenezcan a más de una facción.

In [84]:
%%sql
SELECT id AS "ID",nombre AS "Nombre",apellidos AS "Apellido"
FROM(
    SELECT p.id,p.nombre,p.apellidos, COUNT(*) AS cantidad
    FROM persona_pertenece_faccion ppf
    JOIN personas p
    ON p.id = ppf.id_persona
    GROUP BY p.id
    ORDER BY COUNT(*) DESC
)AS orden
WHERE cantidad > 1
ORDER BY id

 * postgresql://vicente:***@localhost:5432/tarea1
33 rows affected.

[(42, 'Julia', 'Littich Weldon'),
 (77, 'Donald', 'Watkins Rocha'),
 (107, 'Charles', 'Bellamy Nelson'),
 (227, 'Kelly', 'Gaydosh Freeman'),
 (240, 'Alfonso', 'Faunce Pearse'),
 (250, 'Susan', 'Welch Frost'),
 (283, 'Marry', 'Dillard Martin'),
 (288, 'Frederick', 'Gonzales Tanner'),
 (318, 'Robert', 'Shanley Rodriguez'),
 (324, 'Lauren', 'Garcia Ruff'),
 (333, 'David', 'Darrigo Wells'),
 (337, 'Elmer', 'Abbott Nelson'),
 (365, 'Isaiah', 'Padilla Gay'),
 (369, 'Sandra', 'Lawhorn Talley'),
 (383, 'Lamont', 'Beatty Adamson'),
 (498, 'Matthew', 'Taylor Helder'),
 (504, 'Jeannette', 'Stenson Heuschkel'),
 (556, 'Ruby', 'Parker Scott'),
 (567, 'Emma', 'Brooks Jackson'),
 (698, 'Mary', 'Anderson Miller'),
 (717, 'Dennis', 'Taylor Summerlin'),
 (725, 'Deborah', 'Cieslak Wells'),
 (726, 'Daniel', 'Curtis Strickland'),
 (789, 'Brian', 'Nelson Harrison'),
 (810, 'Christine', 'Parker Argenbright'),
 (817, 'Casey', 'Lott Gaters'),
 (839, 'William', 'Kroells Rollins'),
 (850, 'Maggie', 'Stanley Campbell'),
 (868, 'William', 'Hull Cashion'),
 (908, 'David', 'Preston Mateus'),
 (918, 'Cynthia', 'Kimbrough Hawkins'),
 (959, 'Nancy', 'Lacuesta Taylor'),
 (972, 'Alice', 'Ramirez Numbers')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** Para conseguir esto se puede instanciar dos veces la tabla persona con distintas abreviaturas, con esto ya se pueden conectar ambas tablas a traves de la FK conyugue, luego para que no se repitan las parejas se puede utilizar la condición de que solo se muestre la pareja donde el ide de la primera tabla sea menor.

In [83]:
%%sql
SELECT
    p1.nombre AS "Nombre persona 1",
    p1.apellidos AS "Apellidos persona 1",
    p2.nombre AS "Nombre persona 2",
    p2.apellidos AS "Apellidos persona 2"
FROM personas p1

JOIN personas p2
ON p1.conyugue = p2.id

WHERE
    p1.id < p2.id

 * postgresql://vicente:***@localhost:5432/tarea1
83 rows affected.

[('Ellen', 'Dean Holiday', 'Florence', 'Steinert Mendoza'),
 ('Julia', 'Littich Weldon', 'Abel', 'Nava Pearson'),
 ('Margaret', 'Pittman Blue', 'Albert', 'German Peragine'),
 ('Donna', 'Eichorn Henderson', 'Matthew', 'Taylor Helder'),
 ('Douglas', 'Salcedo Wilson', 'Lee', 'Allen Dillis'),
 ('Melissa', 'Baker Nickens', 'Cody', 'Block Eng'),
 ('Richie', 'Zuehlke Heffernan', 'Edward', 'Archer Rice'),
 ('Maurice', 'Hausmann Waters', 'Rose', 'Guerrero Bridgette'),
 ('Lara', 'Pomroy Borcherding', 'Rose', 'Scott Wade'),
 ('Kaye', 'Lear Sanchez', 'Douglass', 'Boydston Harris'),
 ('Larry', 'Holt Nett', 'Toni', 'Goshay Valdez'),
 ('Carly', 'Overcash Robertson', 'Robert', 'Jonason Crane'),
 ('Patricia', 'Heavener Morales', 'Larry', 'Alfaro Mueller'),
 ('Stephanie', 'Guest Redd', 'Elliott', 'Stengel Hamilton'),
 ('Lester', 'Crockett Bosley', 'David', 'Hegyi Spencer'),
 ('Earline', 'Rodriquez Green', 'Curt', 'Hennigan Stamdifer'),
 ('Charles', 'Mehta Gudino', 'Michelle', 'Balk Miller'),
 ('Linda', 'Crook Biron', 'Crystal', 'Meyer Chiarito'),
 ('Shannon', 'Jones Davidson', 'Britney', 'Young Vidal'),
 ('William', 'West Harshbarger', 'Joyce', 'Evans Torres'),
 ('Justin', 'Mckoy Vidrio', 'Andrew', 'Salazar Frazier'),
 ('Richard', 'Avery Rodriguez', 'Katherine', 'Hack Bateman'),
 ('Jennifer', 'Ball Decker', 'Debra', 'Allmon Cook'),
 ('Patricia', 'Surano Napier', 'Brooke', 'Sica Lucero'),
 ('Winston', 'Karaffa Boykin', 'Robert', 'Cutwright Taylor'),
 ('Dale', 'Cross Milner', 'Barbara', 'Dalal Monk'),
 ('Lee', 'Gonzales Walton', 'Dorothy', 'Thomas Ward'),
 ('Judy', 'Brennan Davis', 'James', 'Burns Kluesner'),
 ('Angela', 'Tatum Williamson', 'Barbara', 'Brown Vance'),
 ('Jane', 'Pitts Loguidice', 'Richard', 'Logan Dominick'),
 ('Marie', 'Keith Lipman', 'Ora', 'Washington Ford'),
 ('Donald', 'Bullion Worley', 'Faye', 'Lamere Moore'),
 ('Maria', 'Hannah Hazlett', 'William', 'Larcom Matthai'),
 ('Erica', 'Mccloskey Vreeland', 'Charles', 'Rodriguez Bennet'),
 ('Candice', 'Myrick Torres', 'Jim', 'Middendorf Brown'),
 ('Virginia', 'Hawkins Johnson', 'Clarence', 'Bond Jack'),
 ('Edward', 'Carlson Mcvey', 'Charlotte', 'Gladney Martinez'),
 ('Lauren', 'Garcia Ruff', 'Lamont', 'Beatty Adamson'),
 ('Charles', 'Rivera Rowe', 'Alma', 'Burrows Tortora'),
 ('Lasonya', 'Adams Gentry', 'Timothy', 'Taft Vaughn'),
 ('Thomas', 'Diaz Cook', 'Harold', 'Kennedy Castrey'),
 ('John', 'Blatt Crow', 'Ashley', 'Scales Abdelhamid'),
 ('Cleo', 'Doyle Clark', 'Agnes', 'Dineen Daniels'),
 ('Scott', 'Turner Smith', 'Daniel', 'Hannasch Schwantes'),
 ('Modesto', 'Bond Petersen', 'Nancy', 'Salazar Parr'),
 ('Helen', 'Jones Nunez', 'Bradley', 'Smith Mitchell'),
 ('Michaela', 'Terrell Presnell', 'Bonnie', 'Somerville Lozano'),
 ('Shawna', 'Perry White', 'Paul', 'Quezada Mccoy'),
 ('Hilda', 'Lagrone Chaparro', 'Christine', 'Parker Argenbright'),
 ('Jason', 'Koontz Guers', 'Angelo', 'Roane Fernandez'),
 ('Barbara', 'Castro Bennett', 'Michael', 'Sproull Ingram'),
 ('Irene', 'Riley Newsom', 'Sabrina', 'Schweitzer Spikes'),
 ('Jesse', 'Svenson Dalton', 'Teresita', 'Yong Avila'),
 ('Jennifer', 'Howard Gomez', 'Daniel', 'Crockett Johnson'),
 ('Ronald', 'Johnson Huff', 'Mark', 'Diaz Jackson'),
 ('Malcolm', 'Scott Missey', 'Daniel', 'Curtis Strickland'),
 ('Dominique', 'Miele Smith', 'Troy', 'Manges Twitt'),
 ('Casey', 'Brown Alicea', 'Robert', 'Hughes Turberville'),
 ('Thelma', 'Gray Ridley', 'Dennis', 'Taylor Summerlin'),
 ('Derek', 'Mancini Lopez', 'Julia', 'Meservey Livengood'),
 ('Cindy', 'Schlicht Gellert', 'Nicholas', 'Cupples Pearce'),
 ('Eleanor', 'Leardi Johnson', 'Jacquelyn', 'Gonzales Allen'),
 ('Derek', 'Howard Nolder', 'Gale', 'Xiong Truong'),
 ('Lillian', 'Rose Mcclure', 'Maureen', 'Worrell Edson'),
 ('Harry', 'Green Roundtree', 'Brock', 'Alvarez Villa'),
 ('Hellen', 'Wright Mcmichael', 'William', 'Hull Cashion'),
 ('Gregory', 'Miles Brosius', 'Diana', 'Robles Fanney'),
 ('Kathi', 'Day Hall', 'Edna', 'Deacy Herbert'),
 ('Jason', 'Watson Scherzer', 'Wendell', 'Thomasson Uutela'),
 ('Caron', 'Cormier Gregor', 'Antonio', 'Acosta Srinivasan'),
 ('Jefferson', 'Zeger Paulino', 'Harry', 'Alpers Johnson'),
 ('Dan', 'Hook Lejeune', 'Bruce', 'Mason Geib'),
 ('Linda', 'Brewer Nolin', 'Evelyn', 'Roberts Graham'),
 ('John', 'Cripe Shepard', 'Charles', 'Duckworth Dugan'),
 ('Tina', 'Abela Mikeska', 'William', 'Werner Mitchell'),
 ('Eli', 'Roeger Alger', 'Natalie', 'Clark Robbins'),
 ('Phyllis', 'Wesley Orozco', 'Deborah', 'Smith Jefferson'),
 ('Ethel', 'Lee Munoz', 'Alfred', 'Mahnken Burk'),
 ('Georgetta', 'Larsen Sweeney', 'Joanne', 'Bonilla Corum'),
 ('George', 'Erway Noriega', 'Sandra', 'Keith Carrion'),
 ('Joseph', 'Davidson Campbell', 'Nicole', 'Mitchell Strickland'),
 ('Eleanor', 'Chapa Dorsey', 'Constance', 'Kelcourse Bogard'),
 ('George', 'Ernst Tucker', 'Denise', 'Vaughn Schmidt')]